.wrapper {
    position: relative;
    background: gray;
    border-radius: 10px;
    width: 40px;
    height: 15px;

    .circle {
        position: absolute;
        transition: all .5s;
        left: 2px;
        top: 2px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: white;
    }

   &.isChecked {
        transition: .5s all ease;
        background: rgb(189, 32, 32);

        .circle {
            left: 28px;
        }
    }

}

