.wrapper {
    position: relative;
    background: gray;
    border-radius: 10px;
    width: 40px;
    height: 15px;

    &::before {
        content: '';
        position: absolute;
        transition: .5s;
        left: 5%;
        top: 15%;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: white;
    }

   &.isChecked {
        transition: .5s all ease;
        background: rgb(189, 32, 32);

        &::before {
            left: 70%; 
        }
    }

}

