.wrapper {
    position: relative;
    background: gray;
    border-radius: 10px;
    width: 40px;
    height: 15px;

    .circle {
        position: absolute;
        transition: all 1s;
        left: 2px;
        top: 2px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: white;
    }


}

.changeColor {
    background: red;
    transition: 1s all ease;
    position: relative;
    border-radius: 10px;
    width: 40px;
    height: 15px;

    .complete{
        position: absolute;
        transition: 1s all ease;
        right: 2px;
        top: 2px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: white;
    }

}